<div class="container-fluid text-center">
    <h1>Wie siehts mit der Begleitung aus?</h1>
    &nbsp;
    <div class="row">
        <img src="assets/pictures/two.jpg" (click)="this.onClick(201)" />
    </div>
    <h2>oder</h2>
    &nbsp;
    <div class="row">
        <img src= "assets/pictures/group.jpg" (click)= "this.onClick(202)"/>
    </div>
    
        <button style="margin: 0 auto; margin-top:12px;" class= "btn homecomingButton" (click)= "this.onClick(203)">Ich weiß noch nicht.</button>
    
</div>