.column {
  float: left;
  width: 30%;
  padding: 5px;
}

/* Clear floats after image containers */
.row::after {
  content: "";
  clear: both;
  display: table;
}
@media screen and (max-width: 500px) {
  .column {
    width: 100%;
  }
}

img {
  max-width: 40%;
  height: auto;
}

img.grayscale {
  max-width: 40%;
  height: auto;
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}

.container h1{
  width: 100%;
  text-align: center;
}

.container button{
  margin: 0px;
}
