<div class ="w3-card w3-margin" (swiperight)="onSwipeRight(occasion,$event)" (swipeleft)="onSwipeLeft($event)">
   <!-- <img src="/./../..{{occasion.occasion.image}}.webp"> !-->
    <img src='../../assets/img/pizza.webp' width="200px" heigth="100px"> 
    <h3> {{occasion.occasion.title}}</h3>
    <p> Bildadresse: {{occasion.occasion.picture}}</p>
    <p> Beschreibung: {{occasion.occasion.description}}</p>
    <p> Erstellt von: {{occasion.initiator.name}}</p>
    <p> Personenzahl: {{occasion.occasion.maxParticipants}}</p>
</div>