<div style="text-align:center; " (swiperight)="onSwipeRight(occasion)" (swipeleft)="onSwipeLeft(occasion,$event)">
    <img class="image" src="/./../..{{occasion.occasion.picture}}" (swiperight)="onSwipeRight(occasion)" (swipeleft)="onSwipeLeft(occasion,$event)" >
    <h3> {{occasion.occasion.title}}</h3>
    <p style="font-size:20px"> Beschreibung: {{occasion.occasion.description}}</p>
    <p style="font-size:20px"> Erstellt von: {{occasion.initiator.name}}</p>
    <p style="font-size:20px"> Personenzahl: {{occasion.occasion.maxParticipants}}</p>
</div>